.container {
    display: grid;
    grid-column: 30vw 70vw;
    grid-row: 20vh 80vh ;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";

}

.header-section {
    background-color: #fafafa;
    grid-area: header;
    padding: 1.5rem;
    display: grid;
}
.search {
    background-color: #d4d4d8;
    border-radius: 5px;
}

.top-head {
    display: flex;
}

.left-top-head {
    float: left;
    display: flex;
}

.right-top-head {
    float: right;
    display: flex;
}

.bottom-head {
    display: flex;
}

.bottom-head-left {
    float: left;
    display: flex;
}

.usertop {
    display: grid;
}

.bottom-head-right {
    float: right;
    display: flex;
}

.topBtn {
    color: white;
    background-color: #fb923c;
    border-radius: 5px;
    padding: 8px;
    width: 6rem;
}

.sidebar-section {
    grid-area: sidebar;
    display: grid;
    padding: 1.5rem;
    grid-row: 1fr 2fr 2fr ;
    grid-template-areas: 
    "top"
    "second"
    "third";
    color: azure;
    background-color: #fb923c;
}
.side-top-section {
    grid-area: top;
    
}
.side-second-section {
    grid-area: second;
}
.side-third-section {
    grid-area: third;
}

.main-content {
    grid-area: main-content;
    display: grid;
}